@{
    ViewBag.Title = "Signin";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Random Login Form</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background: #fff;
            color: #fff;
            font-family: Arial;
            font-size: 12px;
        }

        .body {
            position: absolute;
            top: -20px;
            left: -20px;
            right: -40px;
            bottom: -40px;
            width: auto;
            height: auto;
            background-image: url(../../Content/images/6.jpg);
            background-size: cover;
            -webkit-filter: blur(0px);
            z-index: 0;
        }

        .grad {
            position: absolute;
            top: -20px;
            left: -20px;
            right: -40px;
            bottom: -40px;
            width: auto;
            height: auto;
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
            z-index: 1;
            opacity: 0.7;
        }

        .header {
            position: absolute;
            top: calc(20% - 35px);
            left: calc(90% - 255px);
            z-index: 2;
        }

            .header div {
                float: left;
                color: #fff;
                font-family: 'Exo', sans-serif;
                font-size: 35px;
                font-weight: 200;
            }

                .header div span {
                    color: blue !important;
                }

        .login {
            position: absolute;
            top: calc(40% - 75px);
            left: calc(75% - 50px);
            height: 150px;
            width: 350px;
            padding: 10px;
            z-index: 2;
        }

            .login input[type=text] {
                width: 250px;
                height: 30px;
                background: transparent;
                border: 1px solid rgba(255,255,255,0.6);
                border-radius: 2px;
                color: #fff;
                font-family: 'Exo', sans-serif;
                font-size: 16px;
                font-weight: 400;
                padding: 4px;
            }

            .login input[type=password] {
                width: 250px;
                height: 30px;
                background: transparent;
                border: 1px solid rgba(255,255,255,0.6);
                border-radius: 2px;
                color: #fff;
                font-family: 'Exo', sans-serif;
                font-size: 16px;
                font-weight: 400;
                padding: 4px;
                margin-top: 10px;
            }

            .login input[type=button] {
                width: 260px;
                height: 35px;
                background: royalblue;
                border: 1px solid #fff;
                cursor: pointer;
                border-radius: 2px;
                color: white;
                font-family: 'Exo', sans-serif;
                font-size: 16px;
                font-weight: 400;
                padding: 6px;
                margin-top: 10px;
            }

                .login input[type=button]:hover {
                    opacity: 0.8;
                }

                .login input[type=button]:active {
                    opacity: 0.6;
                }

            .login input[type=text]:focus {
                outline: none;
                border: 1px solid rgba(255,255,255,0.9);
            }

            .login input[type=password]:focus {
                outline: none;
                border: 1px solid rgba(255,255,255,0.9);
            }

            .login input[type=button]:focus {
                outline: none;
            }

            .login input[type=submit] {
                width: 260px;
                height: 35px;
                background: royalblue;
                border: 1px solid #fff;
                cursor: pointer;
                border-radius: 2px;
                color: white;
                font-family: 'Exo', sans-serif;
                font-size: 16px;
                font-weight: 400;
                padding: 6px;
                margin-top: 10px;
            }

                .login input[type=submit]:hover {
                    opacity: 0.8;
                }

                .login input[type=submit]:active {
                    opacity: 0.6;
                }

                .login input[type=submit]:focus {
                    background-color: red;
                    outline: none;
                }

        ::-webkit-input-placeholder {
            color: rgba(255,255,255,0.6);
        }

        ::-moz-input-placeholder {
            color: rgba(255,255,255,0.6);
        }
    </style>


    <script src="js/prefixfree.min.js"></script>


</head>

<body>

    <div class="body"></div>
    <div class="grad"></div>
    <div class="header">
        <div>  Sign Up</div>
    </div>
    <br>
    <div class="login">
        <h2>@ViewBag.b </h2>
        <form action="../../Admin/SigninForm" method="post">
            <input type="text" placeholder="Firstname" required name="firstname"><br><br>
            <input type="text" placeholder="Lastname" required name="lastname"><br><br>
            <input type="text" placeholder="Username" required name="username"><br><br>
            <input type="text" placeholder="Username@gmail.com" required name="email"><br><br>
            <input type="password" placeholder="Password" required name="password"><br><br>
            <input type="password" placeholder="Confirm Password" required  name="confirmPass"><br><br>
            <input type="submit" value="Sign Up"><br><br>
        </form>
    </div>


</body>
</html>
